/* BlockHeight.css */
.block-height {
    margin-top: 20px;
    color: #fff;
}

.block-height h2 {
    margin-bottom: 20px;
}

.block-height .input-group {
    margin-bottom: 20px;
}

.table {
    color: #fff;
    background-color: #343a40;
}

.table thead th {
    border-bottom: 2px solid #454d55;
}

.table tbody tr:hover {
    background-color: #495057;
}
